<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.2023_JuegoPizzaHut"
        tools:targetApi="31">
        <activity
            android:name=".DepPreg010Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg09Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg08Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg07Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg06Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg05Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg04Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg03Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg02Activity"
            android:exported="false" />
        <activity
            android:name=".DepPreg01Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg010Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg09Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg08Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg07Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg06Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg05Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg04Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg03Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg01Activity"
            android:exported="false" />
        <activity
            android:name=".CultPreg02Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg010Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg08Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg07Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg06Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg05Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg04Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg03Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg02Activity"
            android:exported="false" />
        <activity
            android:name=".PizPreg01Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg010Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg09Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg08Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg07Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg06Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg05Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg04Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg03Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg02Activity"
            android:exported="false" />
        <activity
            android:name=".EntPreg01Activity"
            android:exported="false" />
        <activity
            android:name=".GeoPreg010Activity"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg09Activity"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg08Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg07Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg06Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg05Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg04Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg03Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg02Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GeoPreg01Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>